
.lqt_watchlist_messages_notice {
	background-color: #eee;
	border:           1px solid #ddd;
	margin:           1em 0;
	padding:          0.5em 1em;

	display: table;
	width:   auto;
}

.lqt_newmessages_section {
	border-bottom: 0px;
}

.lqt_undo_mark_as_read {
	background-color: #f0f0e3;
	display: table; width: auto;
}

.lqt_newmessages_read_all_button {
	padding-top: 0.75em;
	padding-bottom: 0.75em;
}

.lqt_header_notice {
	font-size:   smaller;
	float:       right;
	font-weight: bold;
}

.lqt_header_content {
	border-bottom: 2px solid #ddd;
	border-right:  2px solid #ddd;
	margin:        0;
	margin-top:    0.5em;
	margin-bottom: 1.5em;
	padding:       0;

	float: left;
	width: 100%;
}

.lqt_header_commands {
	float:      right;
	clear:      both;
	list-style: none;
	margin:     0;
	margin-top: 0.5em;
	font-size: 90%;
}

.lqt_header_commands li {
	display:       inline;
	padding-right: 0.6em;
	font-weight:   bold;
}

.lqt_thread_show_summary {
	margin-left:   1em;
	margin-bottom: 0.5em;
}

.lqt_thread_permalink_summary {
	margin-right: 12em;
}

.lqt_thread_permalink_summary_body {
	background-color: #eee;
	border:           1px solid #ddd;
	clear:            both;
	padding-left:     1em;
	padding-right:    1em;
	margin:           2em 1em 1em 1em;
}

.lqt_thread_permalink_summary_title {
	float:       left;
	margin-left: 1em;
	font-weight: bold;
}

.lqt_thread_permalink_summary_edit {
	float:        right;
	margin-right: 1em;
	font-weight:  normal;
	font-size:    smaller;
}

.lqt_hidden {
	display: none;
}

.lqt_post_changed_by_history {
	padding: 0.5em !important;
	background-color: #eeeeee;
	border:           solid 1pt #66aaff;
	display:          table;
}

.lqt_post_new_message {
	padding: 0.5em !important;
	background-color: #eeeeee !important;
	border:           solid 1pt #66aaff;
	display:          table;
	width:            auto;
}

.lqt_history_info {
	padding:          0.75em 1.5em;
	margin-bottom:    1em;
	background-color: #eeeeee;
	border:           solid 1pt #66aaff;
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
}

.lqt_threadlevel_commands {
	/* shift up to be in line with the h2. */
	position:      relative;
	top:           -2.9em;
	margin-bottom: -2.9em;

	float: right;

	color:     #777;
}

.lqt_threadlevel_commands li {
	display:         inline;
	list-style-type: none;
	padding-right:   0.6em;
}

#lqt_subject_field {
	margin-top:    0.7em;
	margin-bottom: 0.5em;
	width:         80%;
}

li#ca-nstab-thread {
	/* from #ca-talk */
	margin-right: 1.6em;
}

.lqt_view_options  {
	display: inline-block;
	padding: 0.2em;
	padding-top: 1em;
	padding-bottom: 1em;
}

.lqt_go_sort {
	font-weight:bold;
}

.lqt_rc_blockquote {
	font-style: italic;
	margin: 0.5em 1em;
}

.lqt_rc_ellipsis {
	font-style: normal;
	font-weight: bold;
}

.lqt_rc_author_notice_others {
	color: #cd9800;
}

.lqt_toc {
	width: 80%;
	border-collapse: collapse;
}

.lqt_toc th {
	border-bottom: 1px solid #000000;
}

.lqt_toc td,.lqt_toc th {
	margin: 0;
	padding: 0.2em;
	text-align: left;
}

.lqt_toc td {
	border-bottom: 1px solid #aaaaaa;
}

.lqt-newmessages-left {
	padding-right: 1em;
	vertical-align: top;
	padding-top: 1em;
}

.lqt-thread-toolbar-info > span {
	padding-left: 1em;
	padding-right: 1em;
}

.lqt-thread-toolbar-signature {
	padding-left: 0 !important;
}

.lqt-thread-toolbar-author {
	font-weight: bold;
}

.lqt-thread-toolbar-edited-author {
	font-weight: bold;
}

.lqt-thread-toolbar-edited-others {
	font-weight: bold;
	color: #aa8800;
}

.lqt-command-icon {
	width: 1.5em;
	height: 1.5em;
	margin-right: 0.2em;
}

li.lqt-command-reply {
	text-align: right;
}

.lqt-thread-toolbar-menu:hover {
	background-color: #eeeeee;
}

.lqt-thread-actions-trigger {
	padding: 0.5em;
	border: 1px transparent solid;
	color: #002BB8;
}

.lqt-thread-toolbar-menu:hover .lqt-thread-actions-trigger {
	border-bottom: none;
}

.lqt-thread-toolbar-menu ul {
	display: none;
	position: absolute;
	list-style-type: none !important;
	list-style-image: none !important;
	border: 1px solid #aaaaaa;
	border-top: none;
	background-color: #eeeeee;
	margin: 0 !important;
}

.lqt-thread-toolbar-menu:hover ul {
	display: block;
}

.lqt-thread-toolbar-command-list li {
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin-top:      0;
	margin-bottom:   0;
	list-style-type: none;
	list-style-image: none;
}

.lqt-thread-permalink {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.lqt-header-quote {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.lqt-thread-actions-trigger {
	margin-bottom: 0;
}

.lqt-thread-actions-icon {
	background-image: url('icons/arrow-down-icon.png');
	background-position: center-bottom;
	background-repeat: no-repeat;
	height: 80%;
	width: 1em;
	height: 1em;
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 0.2em;
}

.lqt-thread-toolbar-menu {
	padding: 0;
	margin: 0;
	display: inline-block;
}

fieldset.lqt-talkpage-search {
	width: auto;
	text-align: center;
	margin: 0.5em 15%;
	padding: 1em;
}

fieldset.lqt-talkpage-search legend {
	text-align: center;
}

.lqt-talkpage-search form {
	display: inline-block;
}

.lqt-talkpage-search {
	margin: 1em;
	padding: 0.2em;
	padding-top: 1em;
	padding-bottom: 1em;
}

.lqt-talkpage-header {
	border: 1px solid #ddd;
	clear: both;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

div.lqt-post-sep {
	height: 1px;
	padding: 0;
	margin: 0;
	background-image: url(images/break.png);
	background-position: bottom;
	background-repeat: repeat-x;
	clear: both;
}

.lqt-thread-first > .lqt-post-wrapper {
	background-image: url(images/vertical-fade.png) !important;
	background-repeat: no-repeat !important;
	background-position: top left;
}

.lqt-thread-replies {
	margin-left: 2em;
}

#bodyContent > .lqt_thread,
.lqt-thread-replies {
	background-image: url(images/edge.png);
	background-repeat: repeat-y;
	background-position: left;
}

.lqt-replies-finish {
	background-image: url(images/edge.png);
	background-position: bottom;
	background-repeat: repeat-x;
}

.lqt-replies-finish > div {
	background-image: url(images/corner.png);
	background-repeat: no-repeat;
	background-position: bottom left;
}

.lqt-post-wrapper {
	padding: 0.5em;
}

.lqt-thread-info-panel {
	float: right;
}

.lqt-thread-toolbar-timestamp {
	color: silver;
}

.lqt-thread-toolbar {
	float: right;
	clear: right;
	padding: 0;
	height: 30px;
}

.lqt-toolbar-lhs {
	background-image: url(images/actions-left.png);
	background-position: right center;
}

.lqt-toolbar-lhs, .lqt-toolbar-rhs {
	background-repeat: no-repeat;
	width: 6px;
	height: 30px;
	margin-top: -10px;
}

.lqt-toolbar-rhs {
	background-image: url(images/actions-right.png);
	background-position: left center;
}

.lqt-thread-toolbar .lqt-command-icon {
	height: 1.3em;
	width: 1.3em;
	vertical-align: bottom;
}

.lqt-thread-toolbar-commands {
	background-image: url(images/actions-base.png);
	background-repeat: repeat-x;
	background-position: center;
	height: 30px;
}

.lqt-thread-toolbar div {
	display: inline-block;
}


